@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 20px;
    color: black;
    width: 100%;
    height: 100%;
}

.wrap {
    flex-wrap: wrap;
}

header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
}

.shelf {
    background-color: #0a408f;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.marg_30 {
    margin: 30px 0 30px 0;
}

.width_80 {
    width: 80%;
    margin: auto;
}

.shelf:hover {
    background-color: #83a9d9;
}

.lineVertical {
    border-left: 2px solid black;
    height: 100px;
    margin: 0 10% 0 10%;
}

.add, .update, .delete, .button_borrower {
    background-color: #87bd87;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.add:hover {
    background-color: #638a63;
}

.update {
    background-color: #c9c18c;
}

.update:hover {
    background-color: #8f8963;
}

.delete {
    background-color: #bb817f;
}

.delete:hover {
    background-color: #795453;
}

.update, .delete {
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.marg_30_rl {
    margin: 0 30px 0 30px;
}

.container {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
}

.category_color {
    background-color: #69a7d4;
    padding: 10px;
    border-radius: 15px;
}

.category_color:hover {
    background-color: #497493;
}

.category_color > a {
    color: white;
}

.containerBooks {
    width: 30%;
}

.containerBooks:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

.containerBooks:hover > a > p {
    text-decoration: underline;
}

.center_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center_flex2 {
    align-items: center;
    justify-content: center;
}

.width_50 {
    width: 50%;
    margin: auto;
}

.width_30 {
    width: 30%;
}

.width_70 {
    width: 70%;
}

.width_100 {
    width: 100%;
}
.grey {
    color: gray;
    padding: 10px;
}

.center {
    text-align: center;
}

.titleBook {
    color: #69a7d4;
    margin-bottom: 30px;
}

.blue {
    color: #83a9d9;
}

.containerInfoBook {
    padding: 15px;
}

.button_borrower {
    background-color: #9a80bb;
}

.button_borrower:hover {
    background-color: #6c5a81;
}

header > div > a {
    color: white;
    padding: 20px;
}

header > div > a:hover {
    text-decoration: underline;
    color: inherit;
}

h1 > a:hover, a:hover {
    color: inherit;
}

.text_r {
    text-align: right;
}

.white {
    color: white;
}

#titleLibrary {
    font-size: 50px;
}

.flag {
    width: 40px;
}

.right {
    position: absolute;
    right: 20px;
}